<form [formGroup]="calculationForm" class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Shares Sold" formControlName="sharesSold" type="number" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Price Per Share" formControlName="sharePrice" type="number" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Sell Date" formControlName="sellDate" type="date" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <select matNativeControl formControlName="costMethod">
      <option *ngFor="let shareCostType of shareCostTypes" [value]="shareCostType">{{ shareCostType }}</option>
    </select>
  </mat-form-field>
  <button (click)="handleClick(calculationForm)">Click me</button>
</form>

<app-share-cost-display
  [sharesSold]="calculationForm.value.sharesSold"
  [sharePrice]="calculationForm.value.sharePrice"
  [sellDate]="calculationForm.value.sellDate"
  [costMethod]="calculationForm.value.costMethod"
  [valid]="calculationForm.valid"
></app-share-cost-display>
